<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
  </head>
  <body>
    <div class="opponent">
      <section class="active-monster">
        <div class="monster-icon"></div>
        <div class="monster-health">100 HP</div>
      </section>

      <section class="bench">
        <div class="bench-monster">
          <div class="monster-icon"></div>
          <div class="monster-health">100 HP</div>
        </div>
        <div class="bench-monster">
          <div class="monster-icon"></div>
          <div class="monster-health">100 HP</div>
        </div>
      </section>
    </div>

    <div class="player">
      <section class="active-monster">
        <div class="monster-icon"></div>
        <div class="monster-health">100 HP</div>
      </section>

      <section class="moves">
        <p>Ability</p>
        <p>Attack</p>
        <p>Swap</p>
      </section>

      <aside class="bench">
        <section class="bench-monster">
          <div class="monster-icon"></div>
          <div class="monster-health">100 HP</div>
        </section>

        <section class="bench-monster">
          <div class="monster-icon"></div>
          <div class="monster-health">100 HP</div>
        </section>
      </aside>
    </div>
  </body>
</html>
