<!DOCTYPE html>
<html>
  <form method='post'>
          <label for='roomname'>Password</label>
          <input type='roomname' name='roomname'>
          <input type='submit' value='Submit'>
  </form>
</html>
