<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' type='text/css' href='main.css'>
  </head>
  <body>
    <main>
      <h1>Battle is about to start select your team</h1>
      <section class="battlefield">
        <div class="player">
          <div class="player-stats">
            <span> Shock Top: HP:30, ACC+1</span>
            <span> Medi-o-cra: HP:30, ACC+1</span>
            <span> Blob: HP:30, ACC+1</span>
          </div>
          <div class="player-monster-bench-1"></div>
          <div class="player-monster-bench-2"></div>
          <div class="player-monster-active"></div>
        </div>
        <div class="opponent">
          <div class="opponent-stats">
            <span> Shock Top: HP:30, ACC+1</span>
            <span> Medi-o-cra: HP:30, ACC+1</span>
            <span> Blob: HP:30, ACC+1</span>
          </div>
          <div class="opponent-monster-bench-1"></div>
          <div class="opponent-monster-bench-2"></div>
          <div class="opponent-monster-active"></div>
        </div>
      </section>
    </main>
  </body>
</html>
