<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <section class='teams'>
        <h1>Teams</h1>
        <button>Add new team</button>
        <section class='team-select'>
          <section class='selected-monsters'>
            <section class='team-select-monster'>
              <h2>Gojira</h2>
              <img />
            </section>
            <section class='team-select-monster'>
              <h2>Gojira</h2>
              <img />
            </section>
            <section class='team-select-monster'>
              <h2>Gojira</h2>
              <img />
            </section>
            <button>Save team</button>
          </section>
          <section class='team-select-monster'>
            <h2>Gojira</h2>
            <img />
          </section>
          <section class='team-select-monster'>
            <h2>Gojira</h2>
            <img />
          </section>
          <section class='team-select-monster'>
            <h2>Gojira</h2>
            <img />
          </section>
        </section>
        <section class="teams-team">
          <span class="teams-team-monster">
            <h2>Gojira</h2>
            <img />
          </span>
          <span class="team-monster">
            <h2>Gojira</h2>
            <img />
          </span>
          <span class="team-monster">
            <h2>Gojira</h2>
            <img />
          </span>
        </section>
      </section>
    </main>
  </body>
</html>
