.player {
  position: absolute;
  text-align: center;
  bottom: 16%;
  width: 100%;
  height: 37%;
  background-color: #A5D6A7;
}

.opponent {
  position: absolute;
  text-align: center;
  bottom: 53%;
  width: 100%;
  height: 37%;
  background-color: #EF9A9A;
}

.user-card {
  text-align: justify;
  float: left;
  height: 60%;
  width: 25%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 12px;
}

.game-button {
  position: absolute;
  bottom: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
  font-size: 0.7em;
}

/* This should override Milligram's greyed buttons on focus */
.game-button:focus {
  border-color: rgb(155, 77, 202) !important;
  color: rgb(155, 77, 202) !important;
}

article[data-active='true'] {
  background-color: lightblue;
}
