.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  height: 50%;
  width: 50%;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.modal-header {
}

.modal-main {

}

.modal-footer {

}

.player {
  position: absolute;
  text-align: center;
  bottom: 16%;
  width: 100%;
  height: 37%;
  background-color: #A5D6A7;
}

.opponent {
  position: absolute;
  text-align: center;
  bottom: 53%;
  width: 100%;
  height: 37%;
  background-color: #EF9A9A;
}

.user-card {
  text-align: justify;
  float: left;
  height: 60%;
  width: 25%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 12px;
}

.game-button {
  position: absolute;
  bottom: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0px 15px;
  font-size: 0.7em;
}

/* This should override Milligram's greyed buttons on focus */
.game-button:focus {
  border-color: rgb(155, 77, 202) !important;
  color: rgb(155, 77, 202) !important;
}

article[data-active='true'] {
  background-color: lightblue;
}
