div#battlefield{
  margin: auto;
  // width:500px;

  .player {
    position: relative;
    padding: 1rem;
    background-color: #A5D6A7;
    min-height: 175px;
    .abilities{
      position: absolute;
      bottom:0;
      right:0;
      width: 150px;
      padding: 1rem;
      background-color: white;
      display: flex;
      justify-content: space-around;
      .sword-ico{
        background-image: url("https://maxcdn.icons8.com/Share/icon/Gaming/minecraft_sword1600.png");
        background-size: contain;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        height: 60px;
        width: 60px;
        cursor: pointer;
      }
    }
  }
  .opponent {
    position: relative;
    display: flex;
    padding: 1rem;
    background-color: #EF9A9A;
    min-height: 175px;

    .battlefield-activeMonster{
    }
    .bench-monster{
      position: relative;
    }
    .abilities{
      position: absolute;
      top:0;
      right:0;
      width: 300px;
      padding: 1rem;
      background-color: white;
      display: flex;
      justify-content: space-around;
      .sword-ico{
        // border: 2px solid red;
        background-image: url("https://maxcdn.icons8.com/Share/icon/Gaming/minecraft_sword1600.png");
        background-size: contain;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        height: 60px;
        width: 60px;
        cursor: pointer;
      }
    }
  }
}

/* This should override Milligram's greyed buttons on focus */
.game-button:focus {
  border-color: rgb(155, 77, 202) !important;
  color: rgb(155, 77, 202) !important;
}

article[data-active='true'] {
  background-color: lightblue;
}

section.messages {
  display: none;
  padding: 2rem;
  height: 125px;
  background-color: #B0BEC5;
  z-index: -2;
  p {
    margin-bottom: 5px;
  }
  overflow-y: auto;
}
