// Styling the player cards
.battlefield-active{
  position: relative;
  border-radius: $border-radius;
  h4{
    margin-left: 2rem;
  }
  .battlefield-active-battler{
    margin-left: 2rem;
    margin-bottom: 2rem;
    position: relative;
    width:150px;
    height:150px;
    @include card-background-image();
    background-size: contain;
    border-radius: $border-radius;
    border: 2px solid white;
    .card-image-header{
      overflow: hidden;
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      right:0;
      bottom:0;
      text-align: center;
      margin: auto;
      img{
        width: 100%;
      }
    }
    span.card-hp{
      font-size: 1rem;
    }
    span.card-acc{
      font-size: 1rem;
    }
  }
  .abilities{
    background-color: darken($player-color, 15%);
    border-radius: $border-radius;
    display: flex;
    padding: 1rem 1rem;
    position: absolute;
    bottom:17px; left:200px;
    z-index: 9999;
    button.sword-ico:first-of-type{
      margin-right: .5rem;
    }
    button.sword-ico{
      display: block;
      background-image: url("https://maxcdn.icons8.com/Share/icon/Gaming/minecraft_sword1600.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      cursor: pointer;
      display: block;
      // margin-right: .5rem;
      margin-bottom: 0px;
      height: 50px;
      width: 50px;
      &:hover{
        background-color: white;
        border-color: white;
      }
    }
  }
}

.battlefield-onBench{
  .bench-monster{
    display: inline-block;
    width:150px;
    height:150px;
    margin-right: 1rem;
    position: relative;
    @include card-background-image();
    background-size: contain;
    border-radius: $border-radius;
    border: 2px solid white;
    font-weight: bold;
    .card-image-header{
      overflow: hidden;
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      right:0;
      bottom:0;
      text-align: center;
      margin: auto;
      img{
        width: 100%;
      }
    }
    button{
      position: absolute;
      margin:0;
      left:0;
      bottom:0;
    }
    span.card-hp{
      font-size: 1rem;
    }
    span.card-acc{
      font-size: 1rem;
    }
  }
}
