.battlefield-active-battler{
  position: relative;
  width:100px;
  height:100px;
  background-color: black;
  border-radius: 3%;
  border: 4px solid white;
  .card-image-header{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    margin: auto;
    img{
      width: 100%;
    }
  }
  span.card-hp{
    position: absolute;
    padding: .5rem;
    top:0;
    left:0;
    background-color: white;
    border-bottom-right-radius: 10%;
    font-weight: bold;
    z-index: 9999;
  }
  span.card-acc{
    padding: .5rem;
    position: absolute;
    bottom:0;
    right:0;
    background-color: white;
    border-top-left-radius: 10%;
    font-weight: bold;
    z-index: 999;
  }
}
.battlefield-onBench{
  .bench-monster{
    display: inline-block;
    width:100px;
    height:100px;
    margin-right: 1rem;
    position: relative;
    background-color: black;
    border-radius: 3%;
    border: 4px solid white;
    font-weight: bold;
    img{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
    }
    button{
      position: absolute;
      margin:0;
      left:0;
      bottom:0;
    }
    span.card-hp{
      position: absolute;
      top:0;
      left:0;
      padding: .5rem;
      background-color: white;
      border-bottom-right-radius: 10%;
      font-weight: bold;
      z-index: 9999;
    }
    span.card-acc{
      position: absolute;
      bottom:0;
      right:0;
      padding: .5rem;
      background-color: white;
      border-bottom-right-radius: 10%;
      font-weight: bold;
      z-index: 9999;
    }
  }
}
