.battlefield-visual{
  position: relative;
  height:355px;
  background-color: $player-color;
}
.player-monster-bench-1{
  position: absolute;
  transform: scaleX(-1);
  height:200px;
  width:100px;
  left:4rem;
  bottom:0;
}

.player-monster-bench-2{
  position: absolute;
  transform: scaleX(-1);
  height:200px;
  width:100px;
  left:14rem;
  bottom:0;
}

.player-monster-bench-3{
  position: absolute;
  transform: scaleX(-1);
  height:200px;
  width:100px;
  left:24rem;
  bottom:0;
}

.player-monster-active{
  position: absolute;
  transform: scaleX(-1);
  height:200px;
  width:100px;
  left:34rem;
  bottom:0;
}
.player-stats{
  position: absolute;
  left:4rem;
  top:2rem;

  span {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  span.activeMonster-stats{
    color:$opponent-color;
  }
}
.opponent-monster-bench-1{
  position: absolute;
  height:200px;
  width:100px;
  right:4rem;
  bottom:0;
}

.opponent-monster-bench-2{
  position: absolute;
  height:200px;
  width:100px;
  right:14rem;
  bottom:0;
}

.opponent-monster-bench-3{
  position: absolute;
  height:200px;
  width:100px;
  right:24rem;
  bottom:0;
}

.opponent-monster-active{
  position: absolute;
  height:200px;
  width:100px;
  right:34rem;
  bottom:0;
}

.opponent-stats{
  position: absolute;
  right:4rem;
  top:2rem;
  span {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
  }
  span.activeMonster-stats{
    color:white;
  }
}
