$messages-color: #B0BEC5;

div#battlefield{
  margin: auto;
  color:black;
  section.messages {
    padding: 2rem;
    height: 150px;
    background-color: $messages-color;
    font-size: 1rem;
    z-index: -2;
    overflow-y:hidden;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    section.messages-content{
      padding: 2rem;
      border: 2px solid darken($messages-color, 30%);
      border-radius: 1rem;
      height:100%;
      p {
        margin-bottom: 20px;
        color: darken($messages-color, 60%);
      }
    }
  }
  .player {
    background-color: $player-color;
    height: 355px;
    padding: 4rem;
    position: relative;
    border-radius: 1rem;
    h1{
      bottom:0;
      color: darken($player-color, 30%);
      left:4rem;
      position: absolute;
    }
    h1.player-turn{
      color:white;
    }
    .abilities{
      background-color: darken($player-color, 15%);
      border-top-left-radius: 5px;
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      position: absolute;
      bottom:0; right:0;
      width: 150px;
      z-index: 9999;
      .sword-ico{
        background-image: url("https://maxcdn.icons8.com/Share/icon/Gaming/minecraft_sword1600.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 60px;
        width: 60px;
      }
    }
  }
}

/* This should override Milligram's greyed buttons on focus */


@media (max-width:812px) {
  section.messages{
    display: none;
  }
  .player, .opponent {
    height: 175px;
  }
}
