section.modal {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
  div.modal-container{
    position: absolute;
    border-radius: $border-radius;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: lighten($player-color, 10%);
    header {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      padding: 2rem;
      background-color: $player-color;
      h3{
        margin-bottom: 0;
      }
    }
    main {
      position: relative;
      padding: 2rem;
    }
    footer {
      position: absolute;
      padding: 2rem;
      bottom: 0;
      left: 0;
      right:0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background-color: $player-color;
    }
  }
  // For displaying cards
  div.card-modal-container{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 50%;
    width: 496px;
    margin: auto;
  }
}
