.container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.monster {
  min-height: 300px;
  width: 30%;
  min-width: 200px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
}

.show-monster {
  height: 3em;
  line-height: 3em;
  width: 100%;
  padding: 0px;
}
