nav {
  position: relative;
  top: 0;
  left:0;
  right:0;
  height: 80px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding-top:2rem;
}
section.nav-links{
  display: flex;
}
a.nav-link {
  font-size: 1.3rem;
  padding: 1rem;
  display: block;
  margin-right: 2rem;
  &:hover{
    background-color: white;
    color: $coral-color;
    height: 80px;
    border-radius: $border-radius;
  }
  &:focus{
    color:white;
  }
  &:active{
    color:$coral-color;
  }
}
a.nav-link.on-page::after{
  display: block;
  content: "^"
}

a.nav-link.leave-game{
  border: 2px solid $message-border-color;
  border-radius: $border-radius;
  text-transform: capitalize;
  width:25%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  height: auto;
  &:hover{
    background-color: $message-border-color;
  }
}
section.nav-user{
  display: flex;
  p{
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 3rem;
  }
  button{
    margin-top: 3px;
  }
}

.hidden{
  display:none;
}
