// Styling the player cards
$activeMonster-width: 150px;
$activeMonster-height: 150px;
$benchedMonster-width: 115px;
$benchedMonster-height: 115px;
.battlefield-active{
  position: relative;
  .activemonster-container{
    width: 150px;
    padding-left: 2rem;
    margin-right:60px;
    h4{
      font-size: .8em;
    }
    .modifiers{
      min-width: $activeMonster-width;
    }
  }
  .battlefield-active-battler{
    margin-right: 4rem;
    position: relative;
    width:$activeMonster-width;
    height:$activeMonster-height;
    @include card-background-image();
    background-size: contain;
    border-radius: $border-radius;
    border: 2px solid white;
    .card-image-header{
      overflow: hidden;
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      right:0;
      bottom:0;
      text-align: center;
      margin: auto;
      img{
        height: 100%;
      }
    }
    span.card-hp{
      font-size: 1rem;
    }
    span.card-acc{
      font-size: 1rem;
    }
  }
}

.battle-info{
  display: flex;
  .abilities{
    margin-right: 2rem;
    h4{
      font-size: 1em;
      margin-left: 0;
    }
    .abilities-actions{
      background-color: darken($player-color, 15%);
      border-radius: $border-radius;
      padding: .5rem 1rem;
    }
    button{
      display: block;
      text-transform: capitalize;
      cursor: pointer;
      margin-top: .5rem;
      margin-bottom: .5rem;
      margin-right: 1rem;
      font-size: 1rem;
      padding: 0 1rem;
    }
  }
}
.modifiers{
  display: flex;
  flex-wrap: wrap;
  background-color: darken($player-color, 15%);
  border-radius: $border-radius;
  padding: 1rem 1rem;
  margin-top: .5rem;
  // default width
  min-width:$benchedMonster-width;
  img{
    flex-shrink: 2;
    flex-basis: auto;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: $border-radius / 2;
    // margin-right: 8px;
    margin-bottom: 0;
  }
}

.battlefield-bench{
  h4{
    font-size:1em;
  }
}

.battlefield-benched{
  display: flex;
  .bench-monster-container{
    width:$benchedMonster-width;
    height:$benchedMonster-height;
    margin-right: 2rem;
    h4{
      font-size: .5em;
      margin-bottom: 1rem;
    }
    .bench-monster{
      width: 100%;
      height: 100%;
      display: inline-block;
      margin-right: 1rem;
      position: relative;
      @include card-background-image();
      background-size: contain;
      border-radius: $border-radius;
      border: 2px solid white;
      font-weight: bold;
      .card-image-header{
        overflow: hidden;
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
        text-align: center;
        margin: auto;
        img{
          height: 100%;
        }
      }
      span.card-hp{
        font-size: 1rem;
      }
      span.card-acc{
        font-size: 1rem;
      }
    }
    button{
      display: block;
      line-height: 1em;
      padding: 1rem;
      width:100%;
      margin-bottom: 1rem;
    }
  }
}
