$team-padding:2rem;

.team{
  position: relative;
  margin-bottom: 2rem;
  background-color: $player-color;
  padding: $team-padding;
  border-radius: $border-radius;
  button{
    position: absolute;
    top:$team-padding;
    right:$team-padding;
    display: block;
  }
  .team-team-members{
    display: flex;
    justify-content: center;
    .card-full{
      margin-top: 2rem;
      margin-right: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.teams-list{
  margin-bottom: 4rem;
}

// container = list of all monsters
// new-team = the actual team
.addTeamPane-container, .addTeamPane-new-team{
  display: flex;
  flex-wrap: wrap;
  .monster-card {
    margin-bottom: 4rem;
    margin-right: 2rem;
    .card-full{
      margin-bottom: 1.5rem;
    }
  }
  button{
    display: block;
    margin: auto;
  }
}

.addTeamPane-container{
  .monster-card {
    margin-bottom: 4rem;
    .card-full{
      margin-right: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  button{
    display: block;
    margin: auto;
  }
}

button.add-a-team{
  margin-bottom: 2rem;
}
