.teams-list{
  margin-bottom: 4rem;
}

.addTeamPane-container, .addTeamPane-new-team{
  display: flex;
  flex-wrap: wrap;
  .monster-card {
    margin-bottom: 4rem;
    .card-full{
      margin-right: 1rem;
      margin-bottom: 1.5rem;
    }
  }
  button{
    display: block;
    margin: auto;
  }
  // justify-content: space-between;
}
.addTeamPane-container{
  .monster-card {
    margin-bottom: 4rem;
    .card-full{
      margin-right: 1rem;
      margin-bottom: 1.5rem;
    }
  }
  button{
    display: block;
    margin: auto;
  }
}
button.add-a-team{
  margin-bottom: 2rem;
}
