$player-color:#826682;
$opponent-color:#EF9A9A;
$coral-color:#E9626F;
$messages-color: #826682;
$message-border-color: #B0BEC5;
$monster-card-bg-color:#736073;

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  a {
    color: white;
  }
  button, .button, .button-outline{
    background-color: white;
    border-color: white;
    color: black;
    text-transform: none;
    border-radius: 1rem;
  }
  button.button.button-outline {
    border-color: white;
    color: white;
    border-radius: 1rem;
    &:hover{
      background-color: white;
      border-color:white;
      color:black;
    }
  }
  &.modal-open {
    overflow: hidden;
  }
}
h1,h2,h3,h4{
  color:white;
  font-weight: bold;
}
div#root{
  min-height: 100vh;
  background: linear-gradient($coral-color, #E867A5);
}

.hidden{
  display: none;
}

@import 'nav';
@import 'battle';
@import 'modal';
@import 'monsters';
@import 'battlefieldMonsters';
@import 'detailedCard';
@import 'team';
@import 'battlefield';
