// Palette
$player-color:#826682;
$opponent-color:#EF9A9A;
$coral-color:#E9626F;
$messages-color: #826682;
$message-border-color: #B0BEC5;
$monster-card-bg-color:#736073;

// How round the edges of boxes should be
$border-radius: 1rem;

// background image for the monster cards.
@mixin card-background-image(){
  background-image: url('/assets/images/monster-bg.png');
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient($coral-color, #E867A5);
  font-family: 'Press Start 2P', cursive;
  &.modal-open {
    overflow: hidden;
  }
}

p, a, label{
  color: white;
}

hr{
  border-top: 2px solid white;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select , textarea{
  border: 2px solid white;
  font-family: 'Press Start 2P', cursive;
  color:white;
  border-radius: $border-radius;

  &:focus{
    border: 2px solid white;
  }
}
input::placeholder, select::placeholder, textarea::placeholder{
  font-family: 'Press Start 2P', cursive;
  color:white;
  opacity: 0.5;
}

button, .button, .button-outline{
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  border-color: white;
  color: $coral-color;
  text-transform: none;
  border-radius: 1rem;
  margin-bottom: 0;
}

button.button.button-outline {
  font-family: 'Press Start 2P', cursive;
  border: 2px solid white;
  border-color: white;
  color: white;
  border-radius: $border-radius;
  margin-bottom: 0;
  &:hover{
    color: $coral-color;
    background-color: white;
    border-color:white;
  }
}

h1,h2,h3,h4{
  color:white;
  font-weight: bold;
}

div#root{
  min-height: 100vh;
  background: linear-gradient($coral-color, #E867A5);
}

// utility class for hiding things.
.hidden{
  display: none !important;
}

@import 'nav';
@import 'battle';
@import 'modal';
@import 'monsters';
@import 'playerControls';
@import 'detailedCard';
@import 'team';
@import 'battlefield';
@import 'store';
@import 'flashMessage';
