$player-color:#508D93;
$opponent-color:#EF9A9A;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  &.modal-open {
    overflow: hidden;
  }
}

.hidden{
  display: none;
}

@import 'nav';
@import 'battle';
@import 'modal';
@import 'monsters';
@import 'battlefieldMonsters';
@import 'detailedCard';
@import 'team';
