body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #E9626F; }
  body a {
    color: white; }
  body button, body .button, body .button-outline {
    background-color: white;
    border-color: white;
    color: black;
    text-transform: none; }
  body button.button.button-outline {
    border-color: white;
    color: white; }
    body button.button.button-outline:hover {
      background-color: white;
      border-color: white;
      color: black; }
  body.modal-open {
    overflow: hidden; }

h1, h2, h3, h4 {
  color: white;
  font-weight: bold; }

.hidden {
  display: none; }

nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem; }

section.nav-links {
  display: flex; }
  section.nav-links a.nav-link {
    padding: 1rem;
    display: block;
    margin-right: 2rem; }
    section.nav-links a.nav-link:hover {
      background-color: white;
      height: 80px; }

section.nav-user {
  display: flex; }
  section.nav-user h4 {
    padding: 1rem;
    line-height: 3.5rem;
    margin-right: 3rem; }

.hidden {
  display: none; }

div#battlefield {
  margin: auto;
  color: black; }
  div#battlefield .opponent {
    background-color: #EF9A9A;
    display: flex;
    height: 355px;
    padding: 4rem;
    position: relative; }
    div#battlefield .opponent h1 {
      bottom: 0;
      color: #cf2121;
      left: 4rem;
      position: absolute; }
    div#battlefield .opponent h1.player-turn {
      color: white; }
  div#battlefield section.messages {
    padding: 2rem;
    height: 200px;
    background-color: #B0BEC5;
    font-size: 1em;
    z-index: -2;
    overflow: hidden; }
    div#battlefield section.messages p {
      margin-bottom: 20px; }
  div#battlefield .player {
    background-color: #508D93;
    height: 355px;
    padding: 4rem;
    position: relative; }
    div#battlefield .player h1 {
      bottom: 0;
      color: #1a2e30;
      left: 4rem;
      position: absolute; }
    div#battlefield .player h1.player-turn {
      color: white; }
    div#battlefield .player .abilities {
      background-color: #355d61;
      border-top-left-radius: 5px;
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
      z-index: 9999; }
      div#battlefield .player .abilities .sword-ico {
        background-image: url("https://maxcdn.icons8.com/Share/icon/Gaming/minecraft_sword1600.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 60px;
        width: 60px; }

/* This should override Milligram's greyed buttons on focus */
@media (max-width: 812px) {
  section.messages {
    display: none; }

  .player, .opponent {
    height: 175px; } }
section.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8); }
  section.modal div.modal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    background-color: white; }
    section.modal div.modal-container main {
      position: relative;
      height: 100%; }
  section.modal div.card-modal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 50%;
    margin: auto; }
    section.modal div.card-modal-container main {
      width: 50%;
      margin: auto; }

.monster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.battlefield-active {
  position: relative;
  border: 3px dashed black; }
  .battlefield-active h4 {
    margin-left: 2rem; }
  .battlefield-active .battlefield-active-battler {
    margin-left: 2rem;
    margin-bottom: 2rem;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 3%;
    border: 4px solid white; }
    .battlefield-active .battlefield-active-battler .card-image-header {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      margin: auto; }
      .battlefield-active .battlefield-active-battler .card-image-header img {
        width: 100%; }

.battlefield-onBench .bench-monster {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 1rem;
  position: relative;
  background-color: black;
  border-radius: 3%;
  border: 4px solid white;
  font-weight: bold; }
  .battlefield-onBench .bench-monster img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .battlefield-onBench .bench-monster button {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0; }

span.card-hp {
  position: absolute;
  padding: 1rem;
  font-size: 1em;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  z-index: 9999; }

span.card-acc {
  padding: 1rem;
  position: absolute;
  font-size: 1.2em;
  bottom: 0;
  right: 0;
  background-color: white;
  border-top-left-radius: 10px;
  font-weight: bold;
  z-index: 999; }

.card-full {
  box-shadow: 0px 2px 10px black;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin-bottom: 4rem;
  background-color: grey;
  padding: 3rem;
  border-radius: 10px;
  border: 4px solid lightgrey; }
  .card-full h3 {
    font-size: 1.8rem;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold; }
  .card-full p {
    margin: 0;
    font-size: 1.4rem; }
  .card-full div.card-image-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    z-index: 0;
    opacity: 0.5; }
    .card-full div.card-image-header img {
      width: 100%; }
  .card-full:hover .card-details {
    display: block; }
  .card-full .card-details {
    display: none;
    position: relative; }
    .card-full .card-details div.stats {
      background-color: white;
      border-radius: 10px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      padding-top: .5rem;
      margin-bottom: 2rem;
      text-transform: capitalize; }
    .card-full .card-details div.card-details-abilities {
      background-color: white;
      border-radius: 10px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      padding-top: .5rem; }
      .card-full .card-details div.card-details-abilities .abilities-name {
        font-size: 1.1rem;
        text-transform: capitalize; }
      .card-full .card-details div.card-details-abilities p {
        font-size: 0.9rem;
        margin-bottom: 1rem; }

.card-full.card-modal {
  width: 500px;
  height: 500px; }
  .card-full.card-modal .card-details {
    display: block; }

.addTeamPane-container, .addTeamPane-new-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.addTeamPane-new-team {
  justify-content: left; }

/*# sourceMappingURL=main.css.map */
