body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#E9626F, #E867A5);
  font-family: 'Press Start 2P', cursive; }
  body.modal-open {
    overflow: hidden; }

p, a, label {
  color: white; }

a {
  text-decoration: underline; }

hr {
  border-top: 2px solid white; }

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select, textarea {
  border: 2px solid white;
  font-family: 'Press Start 2P', cursive;
  color: white;
  border-radius: 1rem; }
  input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus, textarea:focus {
    border: 2px solid white; }

input::placeholder, select::placeholder, textarea::placeholder {
  font-family: 'Press Start 2P', cursive;
  color: white;
  opacity: 0.5; }

button, .button, .button-outline {
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  border-color: white;
  color: #E9626F;
  text-transform: none;
  border-radius: 1rem;
  margin-bottom: 0; }

button.button.button-outline {
  font-family: 'Press Start 2P', cursive;
  border: 2px solid white;
  border-color: white;
  color: white;
  border-radius: 1rem;
  margin-bottom: 0; }
  button.button.button-outline:hover {
    color: #E9626F;
    background-color: white;
    border-color: white; }

h1, h2, h3, h4 {
  color: white;
  font-weight: bold; }

div#root {
  min-height: 100vh;
  background: linear-gradient(#E9626F, #E867A5); }

.hidden {
  display: none !important; }

nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem; }

section.nav-links {
  display: flex; }

a.nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem;
  display: block;
  margin-right: 2rem; }
  a.nav-link:hover {
    background-color: white;
    color: #E9626F;
    height: 80px;
    border-radius: 1rem; }
  a.nav-link:hover:focus {
    color: #E9626F; }
  a.nav-link:focus {
    color: white; }
  a.nav-link:active {
    color: #E9626F; }

a.nav-link.on-page::after {
  display: block;
  content: "^"; }

a.nav-link.leave-game {
  border: 2px solid #B0BEC5;
  border-radius: 1rem;
  text-transform: capitalize;
  width: 25%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  height: auto; }
  a.nav-link.leave-game:hover {
    background-color: #B0BEC5; }

section.nav-user {
  display: flex; }
  section.nav-user p {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 3rem; }
  section.nav-user button {
    margin-top: 3px; }

.hidden {
  display: none; }

div#battlefield {
  margin: auto;
  color: black;
  padding-top: 5rem; }
  div#battlefield section.messages {
    padding: 2rem 4rem;
    height: 120px;
    background-color: #826682;
    border: 2px solid #B0BEC5;
    font-size: 1rem;
    z-index: -2;
    overflow-y: auto;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    div#battlefield section.messages section.messages-content {
      border-radius: 1rem; }
      div#battlefield section.messages section.messages-content p {
        margin-bottom: 10px;
        color: white; }
  div#battlefield .player {
    background-color: #826682;
    border: 2px solid #B0BEC5;
    min-height: 325px;
    padding: 2rem 4rem;
    position: relative;
    border-radius: 1rem; }
    div#battlefield .player h1 {
      bottom: 0;
      color: #2c232c;
      left: 4rem;
      position: absolute; }
    div#battlefield .player h1.player-turn {
      color: white; }

/* This should override Milligram's greyed buttons on focus */
@media (max-width: 812px) {
  section.messages {
    display: none; }

  .player, .opponent {
    height: 175px; } }
section.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8); }
  section.modal div.modal-container {
    position: absolute;
    border-radius: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: #9b809b; }
    section.modal div.modal-container header {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: 2rem;
      background-color: #826682; }
      section.modal div.modal-container header h3 {
        margin-bottom: 0; }
    section.modal div.modal-container main {
      text-align: center;
      position: relative;
      padding: 2rem; }
      section.modal div.modal-container main img {
        display: block;
        width: 200px;
        height: 200px;
        margin: auto; }
    section.modal div.modal-container footer {
      position: absolute;
      padding: 2rem;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: #826682; }
  section.modal div.card-modal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 496px;
    margin: auto; }
    section.modal div.card-modal-container div.close-modal {
      margin: auto;
      width: 50%; }

.monster-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }
  .monster-container div.card-full {
    margin-right: 1rem; }

.battlefield-active {
  position: relative; }
  .battlefield-active .activemonster-container {
    width: 150px;
    padding-left: 2rem;
    margin-right: 60px; }
    .battlefield-active .activemonster-container h4 {
      font-size: .8em; }
    .battlefield-active .activemonster-container .modifiers {
      min-width: 150px; }
  .battlefield-active .battlefield-active-battler {
    margin-right: 4rem;
    position: relative;
    width: 150px;
    height: 150px;
    background-image: url("/assets/images/monster-bg.png");
    background-size: contain;
    border-radius: 1rem;
    border: 2px solid white; }
    .battlefield-active .battlefield-active-battler .card-image-header {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      margin: auto; }
      .battlefield-active .battlefield-active-battler .card-image-header img {
        height: 100%; }
    .battlefield-active .battlefield-active-battler span.card-hp {
      font-size: 1rem; }
    .battlefield-active .battlefield-active-battler span.card-acc {
      font-size: 1rem; }

.battle-info {
  display: flex; }
  .battle-info .abilities {
    margin-right: 2rem; }
    .battle-info .abilities h4 {
      font-size: 1em;
      margin-left: 0; }
    .battle-info .abilities .abilities-actions {
      background-color: #574457;
      border-radius: 1rem;
      padding: .5rem 1rem; }
    .battle-info .abilities button {
      display: block;
      text-transform: capitalize;
      cursor: pointer;
      margin-top: .5rem;
      margin-bottom: .5rem;
      margin-right: 1rem;
      font-size: 1rem;
      padding: 0 1rem; }

.modifiers {
  display: flex;
  flex-wrap: wrap;
  background-color: #574457;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-top: .5rem;
  min-width: 115px; }
  .modifiers img {
    flex-shrink: 2;
    flex-basis: auto;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 0.5rem;
    margin-bottom: 0; }

.battlefield-bench h4 {
  font-size: 1em; }

.battlefield-benched {
  display: flex; }
  .battlefield-benched .bench-monster-container {
    width: 115px;
    height: 115px;
    margin-right: 2rem; }
    .battlefield-benched .bench-monster-container h4 {
      font-size: .5em;
      margin-bottom: 1rem; }
    .battlefield-benched .bench-monster-container .bench-monster {
      width: 100%;
      height: 100%;
      display: inline-block;
      margin-right: 1rem;
      position: relative;
      background-image: url("/assets/images/monster-bg.png");
      background-size: contain;
      border-radius: 1rem;
      border: 2px solid white;
      font-weight: bold; }
      .battlefield-benched .bench-monster-container .bench-monster .card-image-header {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        margin: auto; }
        .battlefield-benched .bench-monster-container .bench-monster .card-image-header img {
          height: 100%; }
      .battlefield-benched .bench-monster-container .bench-monster span.card-hp {
        font-size: 1rem; }
      .battlefield-benched .bench-monster-container .bench-monster span.card-acc {
        font-size: 1rem; }
    .battlefield-benched .bench-monster-container button {
      display: block;
      line-height: 1em;
      padding: 1rem;
      width: 100%;
      margin-bottom: 1rem; }

.card-full {
  box-shadow: 0px 2px 10px black;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin-bottom: 4rem;
  background-image: url("/assets/images/monster-bg.png");
  background-size: contain;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid white; }
  .card-full h3 {
    font-size: 1.4rem;
    position: relative;
    text-align: right;
    color: white;
    font-weight: bold; }
  .card-full p {
    margin: 0;
    font-size: 1rem; }
  .card-full div.card-image-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    z-index: 0; }
    .card-full div.card-image-header img {
      display: block;
      margin: auto;
      width: auto;
      height: 100%; }
  .card-full:hover .card-details {
    display: block; }
  .card-full:hover .delete-monster-button {
    display: block; }
  .card-full .card-details {
    display: none;
    position: relative; }
    .card-full .card-details div.stats {
      background-color: white;
      border-radius: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      padding-top: .5rem;
      margin-bottom: 1rem;
      text-transform: capitalize; }
      .card-full .card-details div.stats p {
        color: #333333;
        font-size: 0.8rem; }
    .card-full .card-details div.card-details-abilities {
      background-color: white;
      border-radius: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      padding-top: .5rem;
      min-height: 120px; }
      .card-full .card-details div.card-details-abilities strong.abilities-name {
        font-size: .8rem;
        text-transform: capitalize;
        color: #222222; }
      .card-full .card-details div.card-details-abilities p {
        color: #222222;
        font-size: 0.8rem;
        margin-bottom: 1rem; }

.delete-monster-button {
  display: none;
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: .5em;
  padding: 0rem 1rem;
  z-index: 10; }

span.card-hp {
  position: absolute;
  padding: 1rem;
  color: white;
  font-size: 1em;
  bottom: 0;
  left: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-top-right-radius: 1rem;
  font-weight: bold;
  z-index: 9999; }

span.card-acc {
  padding: 1rem;
  position: absolute;
  font-size: 1KBem;
  bottom: 0;
  right: 0;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-top-left-radius: 1rem;
  font-weight: bold;
  z-index: 999; }

.card-full.card-modal {
  width: 400px;
  height: 400px; }

.team, .addTeamPane-new-team {
  position: relative;
  margin-bottom: 2rem;
  background-color: #826682;
  padding: 2rem;
  border-radius: 1rem; }
  .team button.delete-team-button, .addTeamPane-new-team button.delete-team-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block; }
  .team .team-team-members, .addTeamPane-new-team .team-team-members {
    display: flex; }
    .team .team-team-members .card-full, .addTeamPane-new-team .team-team-members .card-full {
      margin-right: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem; }

.teams-list {
  margin-bottom: 4rem; }

.addTeamPane-container, .addTeamPane-new-team {
  display: flex;
  flex-wrap: wrap; }
  .addTeamPane-container .monster-card .card-full, .addTeamPane-new-team .monster-card .card-full {
    margin-bottom: 1.5rem; }
  .addTeamPane-container button, .addTeamPane-new-team button {
    display: block;
    margin: auto; }

.addTeamPane-container .monster-card {
  margin-bottom: 4rem; }
  .addTeamPane-container .monster-card .card-full {
    margin-right: 1rem;
    margin-bottom: 1.5rem; }
.addTeamPane-container button {
  display: block;
  margin: auto; }

.addTeamPane-new-team {
  display: flex;
  justify-content: center; }
  .addTeamPane-new-team .card-full {
    height: 300px;
    width: 300px;
    margin-bottom: 0;
    margin-right: 1rem; }

button.add-a-team {
  margin-bottom: 2rem; }

form#teamNameForm {
  margin-bottom: 2rem; }
  form#teamNameForm input {
    margin: 0; }

@keyframes damageNumber {
  0% {
    bottom: 20rem; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    bottom: 23rem; } }
@keyframes playerAttackAnimation {
  0% {
    right: 0; }
  50% {
    right: 50px; }
  100% {
    right: 0px; } }
@keyframes opponentAttackAnimation {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0px; } }
@keyframes deathFadeOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.battlefield-visual {
  position: relative;
  height: 350px;
  background-image: url("/assets/images/bg.png");
  border-radius: 1rem;
  border: 2px solid #BBBBBB;
  width: 1100px; }

span.monster-name {
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: .9rem;
  bottom: 20rem;
  color: white; }

span.monster-type {
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: .9rem;
  bottom: 18.5rem;
  color: white; }

div.monster-hp {
  display: block;
  height: 15px;
  width: 130px;
  margin: auto;
  border-radius: 1rem;
  left: 10px;
  right: 10px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  bottom: 16rem;
  color: white; }
  div.monster-hp span {
    border-radius: 1rem;
    display: block;
    height: 100%;
    background-color: red;
    transition: width 1s; }

.monster {
  height: 150px;
  width: 150px;
  position: relative;
  margin-left: 0rem;
  order: -2;
  cursor: pointer; }
  .monster.dead {
    order: 0;
    opacity: 0; }
  .monster.death-fade-out {
    order: -1;
    filter: invert(1);
    animation: deathFadeOut 1s ease-out;
    animation-fill-mode: forwards; }
  .monster.active {
    order: -3; }
  .monster img {
    position: relative;
    height: 100%;
    width: 100%; }
  .monster:hover span {
    display: block; }

.opponent-side {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  bottom: 0;
  left: 2rem; }
  .opponent-side img {
    transform: scaleX(-1); }
  .opponent-side .active {
    margin-left: 4rem; }

.opponent-name {
  position: absolute;
  top: 2rem;
  left: 2rem; }

.player-side {
  position: absolute;
  display: flex;
  height: auto;
  right: 2rem;
  bottom: 0; }
  .player-side .active {
    margin-right: 4rem; }

.player-name {
  position: absolute;
  top: 2rem;
  right: 2rem; }

.attack-player, .attack-opponent {
  animation: playerAttackAnimation .5s ease-out;
  animation-fill-mode: forwards; }

.attack-opponent {
  animation: opponentAttackAnimation .5s ease-out; }

.damage, .heal, .miss {
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  font-size: 3rem;
  position: absolute;
  bottom: 22rem;
  width: 100%;
  text-align: center;
  color: red;
  animation: damageNumber 1s linear;
  animation-fill-mode: forwards; }

.heal {
  color: green; }

.miss {
  color: orange; }

.store-items {
  margin-bottom: 2rem; }

.store-item {
  margin-top: 2rem;
  display: inline-block; }
  .store-item .store-item-details {
    width: 320px;
    height: 320px;
    background-color: #826682;
    border-radius: 1rem;
    padding: 2rem; }
    .store-item .store-item-details h4 {
      margin-top: 2rem;
      text-align: center; }
    .store-item .store-item-details img {
      display: block;
      width: 50%;
      margin: auto;
      margin-bottom: 2rem; }
    .store-item .store-item-details p.price {
      text-align: center;
      margin-bottom: 0; }
  .store-item button {
    display: block;
    margin: 2rem auto; }

div.egg {
  margin-right: 4rem; }

section.flash-message {
  color: white;
  padding: 10px 0; }

.login-panel {
  padding: 2rem;
  border-radius: 1rem;
  position: absolute;
  width: 1080px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=main.css.map */
